.t1{
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    font-weight: bolder;
}
.logo{
    border-radius: 50%;
}

.dis1{
    height: 400px;
    width: 400px;
    
}